* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    background-color: #1b1b32;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
}

.botones-container {
    margin-top: 30px;
}
button {
    
}